%h1 Wait list
%p
  Thank you for signing up for the wait list for Ruby Weekend.
  %br
  If any seats open up the people on the wait list get the first shot.
  %br
  Seats will be offered on a first come first serve basis.
  
