.row
  .tencol.lat
    %h2 
      =@registered.size
      Registered
    %ol
      - @registered.each do |registered|
        %li
          = registered.name
          = registered.email

    %br
    -if @waitlist.any?
      %h2 
        =@waitlist.size
        Wait List
      %ol
        - @waitlist.each do |waitlist|
          %li
            = waitlist.name
            = waitlist.email