!!!
%html
  %head
  %body
    %h1 Thank You for your registration!
    %p We have receieved your registration information and payment. We can't thank you enough for wanting to particpate in this workshop.
    %p Also, we will keep you up to date on any new information that might come up before the event. If you have any questions, please email #{mail_to("judd@rubyweekend.com", "judd@rubyweekend.com")}.
    %p For you reference your confirmation number is #{@registration.token}.
    %p Amount Paid: $100.00
    %p 
    Today's Date:
    = Time.now.strftime('%D')
