!!!
%html
  %head
  %body
    %h1 Ruby Weekend Registration Confirmation
    %p Meatloaf shankle chuck, sausage pork chop flank corned beef salami cow spare ribs rump. Capicola ball tip pancetta, drumstick frankfurter kielbasa cow. Bacon short loin filet mignon, salami shankle sausage boudin andouille jowl. Brisket turducken capicola, meatball shoulder chicken corned beef tongue hamburger pig boudin flank ham hock shank. Drumstick chicken pancetta flank pork ribeye. Short ribs meatball pork belly meatloaf. Ribeye beef ribs ball tip, t-bone short loin tail ham hock capicola kielbasa frankfurter.
