%h1 The Ruby Weekend Challenge

%p Enjoy Ruby Weekend? Ready to take your app even further? There's a challenge for that.

%h3 Two Weeks, Your App, One Year of Code School 

%p 
  Improve upon the Blabber App we built at Ruby Weekend over the next two weeks. Push the code to your github account and send a link to the repo to
  = mail_to('challenge@rubyweekend.com')
  before Sunday June 2, 2013 11:59PM PT.

%p We'll review the submissions and choose winner based on who improved upon the app most impressively.

%h3 The Prize 

%p A One Year Subscription To Code School valued at $220. That's more than you paid to attend Ruby Weekend!

= link_to(image_tag('code_school_logo.png', class: "pull-right"), 'http://www.codeschool.com/', target: :blank)
/ = image_tag('code_school_membership.png', class: "pull-right")
