!!!
%html
  %head
  %body
    %h1 Hardware Requirements
    %p In order to ensure your laptops can efficiently run the software required for RubyWeekend, we've established minimum hardware requirements. 
    %p If you have any questions about this policy, send an email to #{mail_to("dylan@rubyweekend.com", "dylan@rubyweekend.com")}.

    %p If you have questions, just #{mail_to("dylan@rubyweekend.com", "ask Judd")}.