%h1 Our Refund Policy
%p The refund policy is simple: notify us via email at least two weeks before the workshop, we'll give you a refund. Send an email to #{mail_to("judd@rubyweekend.com", "judd@rubyweekend.com")} as soon as you know you will not be able to attend.
%p If you have questions, just #{mail_to("judd@rubyweekend.com", "ask Judd")}.