%h1 The Ruby Weekend Survey

%p We'd love to know your opinion of the first Ruby Weekend. This is an anonymous survey, we'd like to capture honest feedback. If we sucked, let us have it. If we were superstars, feed out ego. More is better when it comes to your feedback.

%h3 #{link_to("Take Survey Now", "http://www.surveymonkey.com/s/LQ7KXT3", class: "register")}
