%h1 Eh? Speak up sonny I can't hear you! 
%p Please take a moment to give us feedback on all these:

%h1= link_to('Breakfast Wedgie', 'http://www.wedgies.com/results/question/5197c41db1c297020000018e', class: "register", target: :new)
%h1= link_to('Sandwich Poll', 'https://docs.google.com/forms/d/1YCVH0LwEri7PngHIPCmvVTqCob9htVdVKCwuKZj5q-Y/viewform', class: "register", target: :new)


%h1= link_to('Soda Beef Wedgie', 'http://www.wedgies.com/question/5197bab5b1c297020000015a', class: "register", target: :new)
%h1= link_to('Soda Brand Wedgie', 'http://www.wedgies.com/question/5197c775b1c2970200000195', class: "register", target: :new)

