/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require 1140
 *= require facebox
 *= require form
 *= require_self
*/

body {
  background: rgba(39, 170, 225, 1);
  background-image: url(/assets/background.png);
  background-position: center -200px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: rgba(255, 255, 255, 1);
  font: 18px/1.5 Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

h1 {
  text-shadow: 0 1px px rgba(0, 0, 0, 0.5);
}

a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

p {
  padding-top: .75em;
}

p.small {
  font-size: .6em;
}

.row {
  margin-bottom: 2em;
}

#header {
  margin-top: 1em;
}

#footer {
  margin: 6em 0 5em;
}

#date {
  padding-top: 2.5em;
  text-align: right;
}

#venue img.photo {
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  margin-right: .5em;
}
