// = require 1140
// = require facebox
// = require form
// = require_self

$blue: rgba(39, 170, 225, 1)
$white: rgba(255, 255, 255, 1)

body
  background: $blue
  background-image: url(/assets/background.png)
  background-position: center -200px
  background-repeat: no-repeat
  background-size: 100% auto
  color: $white
  font: 18px/1.5 Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif

h1, h2
  text-shadow: 0 1px px rgba(0, 0, 0, 0.5)

a
  color: $white
  font-weight: bold

  &.register
    background: rgba(6, 85, 118, .4)
    border: 1px solid white
    display: block
    margin-bottom: 1em
    padding: .5em
    text-decoration: none
    text-align: center

    &:hover
      background: rgba(6, 85, 118, .9)

    p
      margin-bottom: .5em

p
  margin-bottom: 1em

  &.small
    font-size: .6em
    margin-bottom: 1em

img
  &.logo
    float: right
    margin-left: 1em

ul
  list-style-type: none
  margin-bottom: 1em

  li
    font-size: 1.4em

table.schedule
  border-collapse: collapse
  cell-spacing: 0
  width: 100%

  th, td
    vertical-align: top

  th
    background: rgba(6, 85, 118, .2)
    padding: .5em
    text-align: right
    width: 8em

    &.day
      background: rgba(6, 85, 118, .4)

  td
    padding: .5em

    h1
      background: rgba(255, 255, 255, .25)
      font-size: 1em
      font-weight: bold
      margin: -0.5em -0.5em .5em -0.5em
      padding: .5em

  p
    padding-top: 0
    margin-top: 0
    margin-bottom: 1em

.row
  margin-bottom: 2em

#header
  margin-top: 3em

#footer
  margin: 6em 0 5em

#date
  padding-top: 2.75em
  text-align: right

.date
  font-size: 2.5em

#venue img.photo
  border: 5px solid $white
  box-shadow: 0 0 10px rgba(0, 0, 0, .15)
  margin-right: .5em
  width: 163px
